<div class="panel panel-default">
  <div class="panel-heading">
    <h3 *ngIf="servername" class="panel-title">{{servername}}</h3>
    <h3 *ngIf="!servername" class="panel-title">{{'No server Name'}}</h3>
  </div>
  <div class="panel-body">
    <p>Id: {{serverId}}</p>
    <p>status: {{status}}</p> <!--String interpolation-->
    <p [innerText] ="'status: '+status"></p> <!--attribute binding-->
    <button  [disabled]="isButtonDisabled" class="btn btn-primary"
    (click) = "changeStatus()"
    >Change status</button>
    <!--event binding -->
  </div>
</div>
