<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="home">Home</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li ><a routerLink="dashboard1">Dashboard</a></li>
      <li><a routerLink="dashboard2">Another Dashboard</a></li>
      <li><a routerLink="servers">Server</a></li>
      <li><a routerLink="account">Account</a></li>
      <li><a routerLink="observable1">Observable1</a></li>
      <li><a routerLink="observable2">Observable2</a></li>
      <li><a routerLink="observable3">Observable3</a></li>
      <li><a routerLink="promise1">Promise1</a></li>
      <li><a routerLink="promise2">Promise2</a></li>

    </ul>

  </div><!-- /.navbar-collapse -->
</nav>
