<div class="panel panel-primary">
    <div class="panel-heading">Class Selector</div>
    <div class="panel-body">
       <pre>
        @Component(
            selector: '.app-class-selector',
            templateUrl: './class-selector.component.html',
            styleUrls: ['./class-selector.component.css']
          )
          To call class selector
          &lt;div class="app-class-selector"&gt; &lt;/div&gt;
          &lt;p class="app-class-selector"&gt; &lt;/p&gt;
       </pre>
    </div>
  </div>